/* Write your code here */
.announcement {
    background-color: red;
    border: 2px solid black;
    padding: 3px;
    position: relative;
}

.myButton {
    background-color: blue;
    border-style: none;
    position: absolute;
    left: 99%;
    bottom: 88%;
}

#replace {
    display: none;
    left: 93%;
    bottom: 86%;
}